<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <center>
    <h1>
        this is data 
    </h1>
    <table>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>sal</th>
        </tr>
        <tr>
            <td>{{name}}</td>
            <td>{{age}}</td>
            <td>{{sal}}</td>
        </tr>
        <tr>
            <td>{{name1}}</td>
            <td>{{age1}}</td>
            <td>{{sal1}}</td>
        </tr>
        <tr>
            <td>{{name2}}</td>
            <td>{{age2}}</td>
            <td>{{sal2}}</td>
        </tr>
        <tr>
            <td>{{name3}}</td>
            <td>{{age3}}</td>
            <td>{{sal3}}</td>
        </tr>
    </table>
   </center>
   <center>
   <!--
        {% if sal > 1000 %}
            <h2> {{name}} salary is more than 1000</h2>
        {% elif sal == 1000 %}
            <h2>{{nmae}} salary is equal to 1000</h2>
        {% endif %}
        {% if a < sal %}
            {% if a >= 2000 %}
                <h3>Truee</h3>
            {% else %}
                <h3>False</h3>
            {% endif %}
        {% endif %}
   -->
   {% if a > b %}
        {% if a > c %}
            a is max
        {% else %}
            c is max
        {% endif %}
    {% else %}
        {% if b > c %}
            b is max
        {% else %}
            c is max
        {% endif %}
    {% endif %}
    </center>
</body>
</html>